@media (min-width: 640px) {
    .sm\:hidden {
        display: none;
    }
}
@media (min-width: 640px) {
    .sm\:inline {
        display: inline;
    }
}
.hidden {
    display: none;
}
.transition-colors {
    transition-property:
        color, background-color, border-color, text-decoration-color, fill,
        stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.font-medium {
    font-weight: 500;
}
.text-primary-foreground {
    color: hsl(210 40% 98%);
}
